<%= form_for(@client, html: {class: "form-horizontal"}) do |f| %>
  <div class="container-fluid">
    <div class="row align-self-center">
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'EMPRESA', class: "control-label control-label-left col-sm-3" %>
            <div class="controls col-sm-9">
              <%= f.text_field :name, class: "form-control k-textbox" %>
            </div>
        </div>
      </div>  
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'CPF/CNPJ', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :document, class: "form-control k-textbox", :required => true %>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'RESPONSÁVEL', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :contact_name, class: "form-control k-textbox" %>
          </div>
        </div>        
      </div> 
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'TELEFONE', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :phone_number, class: "form-control k-textbox" %>
          </div>
        </div>        
      </div>       
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'EMAIL', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :email, class: "form-control k-textbox" %>
          </div>
        </div>               
      </div> 
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'CELULAR', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :celphone, class: "form-control k-textbox" %>
          </div>
        </div>               
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'CEP', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :zipcode, class: "form-control k-textbox" %>
          </div>
        </div>          
      </div>       
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'ENDEREÇO', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :address, class: "form-control k-textbox" %>
          </div>
        </div>        
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'BAIRRO', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :neighborhood, class: "form-control k-textbox" %>
          </div>
        </div>         
      </div>       
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'CIDADE', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :city, class: "form-control k-textbox" %>
          </div>
        </div>        
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label 'ESTADO', class: "control-label control-label-left col-sm-3" %>
          <div class="controls col-sm-9">
            <%= f.text_field :state, class: "form-control k-textbox" %>
          </div>
        </div>           
      </div>
      <div class="col-md-10">
        <div class="col-md-2 col-md-offset-6">
          <%= f.submit "Criar", class: "btn btn-primary btn-lg", id: "button_create_client" %>
        </div>   
      </div>                   
  </div>
    </div
</div>



<% end %>