<div id="sb-site">
  <div class="sub-navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="sub-navbar-inner"><i class="sub-navbar-icon glyphicon glyphicon-user" style="font-size: 40px;"></i>
            <h2 class="sub-navbar-title"></h2>
          </div>
        </div>      
      </div>
    </div>
  </div>

  
  <div class="content content-gray">
    <div class="container">
      <div class="row">
        <div class="box-body box-body-transparent">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-default">
                <div class="box-head box-head-default">
                  <h3 class="box-title">LISTA DE CLIENTES</h3>
                    <ul class="box-tools">
                      <li role="presentation">
                        <a href="<%= new_client_path %>">
                          <button class="download">
                            <i class="icon-plus"></i><span class="sr-only">Novo</span>
                          </button>
                         </a>
                      </li>
                    </ul>           
                </div>
                <div class="box-body box-body-default">
                <div class="row">
                  <% if notice.present? %>
                    <div class="alert alert-success">                
                      <p id="notice"><%= notice %></p>
                    </div> 
                  <% end %>
                </div>                   
                  <table class="table table-hover list-stores ">
                    <thead>
                      <tr>
                        <th>CPF/CNPJ</th>
                        <th>NOME DA LOJA</th>
                        <th class="text-center">RESPONSÁVEL</th>
                        <th class="text-center">TELEFONE</th>
                        <th class="text-center">CELULAR</th>
                        <th class="text-center">DATA DE CADASTRO</th>
                        <th class="text-center">AÇÕES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @clients.each do |client| %>
                        <tr>
                            <td><a target="_blank" href="#"><%= client.document %></a></td>
                            <td><a target="_blank" href="#"><%= client.name %></a></td>
                            <td class="text-center"><a target="_blank" href="#"><%= client.contact_name %></a></td>
                            <td class="text-center"><a target="_blank" href="#"><%= client.phone_number %></a></td>
                            <td class="text-center"><a target="_blank" href="#"><%= client.celphone %></a></td>
                            <td class="text-center"><a target="_blank" href="#"><%= client.created_at.strftime("%d/%m/%Y")  %></a></td> 
                            <td class="text-center">
                              <a href="<%= edit_client_path(client) %>"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>
                              <%= link_to client,  method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                                <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Excluir"></i>
                              <% end %>
                              <a href="<%= estimates_path(client.id) %>"><i class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="top" title="Fazer Orçamento"></i></a>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>