<!DOCTYPE html>
<html>
<head>
  <title>LOGIN</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Reckitt">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<%= yield %>


</body>
</html>